:root {
  --primary-color: hsl(171, 100%, 41%);
}

.question-container {
  margin: 0 0 0 2rem;
}

.page-heading {
  text-align: center;
  font-size: 3rem;
  margin: 1.5rem 0 2rem 0;
}

.hidden {
  display: none;
}

.question-number {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.question {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.answer .fadeOut {
  animation: fadeOut 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.answer {
  font-size: 1.2rem;
  animation: fadeIn 1.5s;
  margin: 1rem;
}

button {
  margin: 1rem !important;
}

.disabled {
  background-color: red;
  cursor: not-allowed;
}

.correct-answer-question {
  margin-top: 1rem;
  font-size: 1.2rem;
  animation: fadeIn 1.5s;
}

.yes-button,
.no-button {
  width: 7rem;
  animation: fadeIn 3.5s;
}

.total-score {
  text-align: center;
  margin: 2rem 0;
  font-size: 3rem;
}

.score {
  color: var(--primary-color);
}

.total {
  color: red;
}

.selectedButton {
  color: black;
}

.heading-break-line {
  width: 40vw;
  margin: auto !important;
}

.break-line {
  width: 30vw;
}
